app/pug/404.pug
doctype html
html(lang='en')
  head
    include includes/_head

  body
    .video_bg
      .img_bg
      video(autoplay='', muted='', loop='', class='video_404')
        source(src='img/404.mp4')
          
          
    include includes/_menu


    section.header_area.page_404_header
      //- .header_area_mask_bg
      //- .header_area_bg
      //- .header_area_mask
      .wrapper
        .header_area_in
          include includes/_header
          
          .page_404
            img(src="img/404.png", class='img_404_d')
            img(src="img/404_m.png", class='img_404_m')
            .page_404_content  
              .page_404_desc
                |Oops! We can’t seem to find the page you’re looking for
              a(href="/contacts.html").book.btn Back to Home
              .page_404_links
                span Here are some helpful links instead
                ul
                  li
                    a(href="/") Home
                    a(href="events.html") Events
                    a(href="about.html") About
                    a(href="contacts.html") Contact
              
    
          
            
          

        
              
  
    

  
  
                            
              


    
    
    include includes/_foot

dist/404.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ambassadori</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="video_bg">
      <div class="img_bg"></div>
      <video class="video_404" autoplay="" muted="" loop="">
        <source src="img/404.mp4">
      </video>
    </div>
    <div class="menu">
      <div class="line_1"></div>
      <div class="line_2"></div>
      <div class="line_3"></div>
    </div>
    <div class="menu_area">
      <div class="big_logo"></div>
      <div class="menu_area_in">
        <!--.close Close-->
        <!--.lang ru-->
        <ul>
          <li><a href="/">home</a></li>
          <!--li
          a(href="#")
            | games
          -->
          <li><a href="events.html">events</a></li>
          <!--li
          a(href="#")
            | private rooms
          -->
          <li><a href="about.html">about</a></li>
          <li><a href="#">games</a></li>
          <li><a href="#">lotteries</a></li>
          <li><a href="tours.html">tours</a></li>
          <li><a href="gallery.html">gallery</a></li>
          <li><a href="contacts.html">contact</a></li>
        </ul>
      </div>
    </div>
    <section class="header_area page_404_header">
      <div class="wrapper">
        <div class="header_area_in">
          <header>
            <div class="header_left">
              <div class="menu_l">
                <div class="line_1"></div>
                <div class="line_2"></div>
                <div class="line_3"></div>
              </div>
              <div class="phone hide">+995 322 112 121</div>
            </div>
            <div class="header_center"><a class="logo" href="#"><img src="img/logo.svg" alt=""></a></div>
            <div class="header_right">
              <div class="lang">ru
                <ul class="lang_menu">
                  <li>en</li>
                  <li>en</li>
                </ul>
              </div><a class="book btn" href="/contacts.html">Contact Us</a>
              <div class="m_phone hide"><span class="icon m_phone"></span></div>
            </div>
          </header>
          <div class="page_404"><img class="img_404_d" src="img/404.png"><img class="img_404_m" src="img/404_m.png">
            <div class="page_404_content"> 
              <div class="page_404_desc">Oops! We can’t seem to find the page you’re looking for</div><a class="book btn" href="/contacts.html">Back to Home</a>
              <div class="page_404_links"><span>Here are some helpful links instead</span>
                <ul>
                  <li><a href="/">Home</a><a href="events.html">Events</a><a href="about.html">About</a><a href="contacts.html">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/vendor.css">
    
  </body>
</html>
