app/pug/about.pug
doctype html
html(lang='en')
  head
    include includes/_head

  body
    include includes/_menu


    section.header_area.header_about
      .header_area_mask_bg
      .header_area_bg.headers_about_bg
      .header_area_mask
      .wrapper
        .header_area_in
          include includes/_header
          
          .slogan
            h1 
              |CASINO
              br
              |IDEOLOGY
              
              
    section.about_gallery_area.mtm200
      .wrapper
        .about_gallery_in
          .about_gallery_wrap
            .about_gallery.about_gallery_1
              .item
                img(src="img/about_1.jpg", alt="")
              .item
                img(src="img/about_2.jpg", alt="")
              .item
                img(src="img/about_3.jpg", alt="")
                  
            .nav.nav_1
              
              .dots.dots_a1
              
          
          .about_gallery_text
            .title 
              |Casino 
              br
              |Ideology

            .desc Casino "Ambassadori" is not a usual casino, it is an elite gambling club that was created based on the idea of ​​a premium-class casino. The premium class includes a unique approach to each customer and high class service. 



    section.quote_area
      .wrapper
        .quote_area_in
          .p_hands
          .quote
            |Every person who opens the door to our casino
            br
            |will feel it strait away
            
            
    section.about_gallery_area.about_gallery_area_right
      .wrapper
        .about_gallery_in
          .about_gallery_wrap
            .about_gallery.about_gallery_2
              .item
                img(src="img/about_2.jpg", alt="")
              .item
                img(src="img/about_1.jpg", alt="")
              .item
                img(src="img/about_3.jpg", alt="")
                  
            .nav.nav_2
              
              .dots.dots_a2
              
          
          .about_gallery_text
            .title 
              |Our 
              br
              |Standart

            .desc Our standard is exclusively high cross the country and it is equal to standards of the best places in the world, which you feel in any detail - in exclusive gaming tables, gaming machines, VIP rooms, furniture and cuisine  - we are ready to make you to feel important.
            
    
    section.about_gallery_area.pt250.be_win
      .wrapper
        .about_gallery_in
          .p_roulette
          .p_fishki  
          .about_gallery_wrap
            .about_gallery.about_gallery_3
              .item
                img(src="img/about_3.jpg", alt="")
              .item
                img(src="img/about_2.jpg", alt="")
              .item
                img(src="img/about_1.jpg", alt="")
                  
            .nav.nav_3
              
              .dots.dots_a3
              
          
          .about_gallery_text
            .title 
              |Be 
              br
              |Winner

            .desc This is the place where anyone can feel himself as a winner; Where exclusive apartments are being built for big bets; Where the game is accompanied by live music, world stars, big lotteries, unusual cuisine. 
            
            
            
            
    section.quote_area.inverse.mt150
      .wrapper
        .quote_area_in 
          .p_cube  
          .quote
            |This will be a journey you’ll never forget, 
            br 
            |and it will provide you with memories that will most probably 
            br
            |make you want to visit Georgia again.
            
            
    section.events_w_area
      .wrapper
        .events_w_in
          .events_w_item
            .events_w_bg(style="background-image: url(img/events_w_1.jpg)")
            .events_w_title 
              |Upcoming
              br
              |Events
            .events_w_cat Calendar
          .events_w_item
            .events_w_bg(style="background-image: url(img/events_w_2.jpg)")
            .events_w_title
              |Big
              br
              |Lotteries
            .events_w_cat entertaiments
            //- a(href="").btn Details 
          .events_w_item
            .events_w_bg(style="background-image: url(img/events_w_3.jpg)")
            .events_w_title
              |Exclusive
              br
              |Apartaments
            .events_w_cat Photogallery
              
    section.about_footer_area
      .wrapper
        .about_footer_in
          .about_footer_title
            |Welcome
            br
            |to Ambassadori
          .about_footer_desc
            |Casino "ambassadori" does everything  for your pleasure, so we say to You every
            br
            |time with great pleasure - welcome to "Ambassadori"!  
          a(href="#").btn Book Now  

    include includes/_footer  
    
    include includes/_foot

dist/about.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ambassadori</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="menu">
      <div class="line_1"></div>
      <div class="line_2"></div>
      <div class="line_3"></div>
    </div>
    <div class="menu_area">
      <div class="big_logo"></div>
      <div class="menu_area_in">
        <!--.close Close-->
        <!--.lang ru-->
        <ul>
          <li><a href="/">home</a></li>
          <!--li
          a(href="#")
            | games
          -->
          <li><a href="events.html">events</a></li>
          <!--li
          a(href="#")
            | private rooms
          -->
          <li><a href="about.html">about</a></li>
          <li><a href="#">games</a></li>
          <li><a href="#">lotteries</a></li>
          <li><a href="tours.html">tours</a></li>
          <li><a href="gallery.html">gallery</a></li>
          <li><a href="contacts.html">contact</a></li>
        </ul>
      </div>
    </div>
    <section class="header_area header_about">
      <div class="header_area_mask_bg"></div>
      <div class="header_area_bg headers_about_bg"></div>
      <div class="header_area_mask"></div>
      <div class="wrapper">
        <div class="header_area_in">
          <header>
            <div class="header_left">
              <div class="menu_l">
                <div class="line_1"></div>
                <div class="line_2"></div>
                <div class="line_3"></div>
              </div>
              <div class="phone hide">+995 322 112 121</div>
            </div>
            <div class="header_center"><a class="logo" href="#"><img src="img/logo.svg" alt=""></a></div>
            <div class="header_right">
              <div class="lang">ru
                <ul class="lang_menu">
                  <li>en</li>
                  <li>en</li>
                </ul>
              </div><a class="book btn" href="/contacts.html">Contact Us</a>
              <div class="m_phone hide"><span class="icon m_phone"></span></div>
            </div>
          </header>
          <div class="slogan">
            <h1>
               CASINO<br>IDEOLOGY</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="about_gallery_area mtm200">
      <div class="wrapper">
        <div class="about_gallery_in">
          <div class="about_gallery_wrap">
            <div class="about_gallery about_gallery_1">
              <div class="item"><img src="img/about_1.jpg" alt=""></div>
              <div class="item"><img src="img/about_2.jpg" alt=""></div>
              <div class="item"><img src="img/about_3.jpg" alt=""></div>
            </div>
            <div class="nav nav_1">
              <div class="dots dots_a1"></div>
            </div>
          </div>
          <div class="about_gallery_text">
            <div class="title">
               Casino <br>Ideology</div>
            <div class="desc">Casino "Ambassadori" is not a usual casino, it is an elite gambling club that was created based on the idea of ​​a premium-class casino. The premium class includes a unique approach to each customer and high class service. </div>
          </div>
        </div>
      </div>
    </section>
    <section class="quote_area">
      <div class="wrapper">
        <div class="quote_area_in">
          <div class="p_hands"></div>
          <div class="quote">Every person who opens the door to our casino<br>will feel it strait away</div>
        </div>
      </div>
    </section>
    <section class="about_gallery_area about_gallery_area_right">
      <div class="wrapper">
        <div class="about_gallery_in">
          <div class="about_gallery_wrap">
            <div class="about_gallery about_gallery_2">
              <div class="item"><img src="img/about_2.jpg" alt=""></div>
              <div class="item"><img src="img/about_1.jpg" alt=""></div>
              <div class="item"><img src="img/about_3.jpg" alt=""></div>
            </div>
            <div class="nav nav_2">
              <div class="dots dots_a2"></div>
            </div>
          </div>
          <div class="about_gallery_text">
            <div class="title">
               Our <br>Standart</div>
            <div class="desc">Our standard is exclusively high cross the country and it is equal to standards of the best places in the world, which you feel in any detail - in exclusive gaming tables, gaming machines, VIP rooms, furniture and cuisine  - we are ready to make you to feel important.</div>
          </div>
        </div>
      </div>
    </section>
    <section class="about_gallery_area pt250 be_win">
      <div class="wrapper">
        <div class="about_gallery_in">
          <div class="p_roulette"></div>
          <div class="p_fishki"> </div>
          <div class="about_gallery_wrap">
            <div class="about_gallery about_gallery_3">
              <div class="item"><img src="img/about_3.jpg" alt=""></div>
              <div class="item"><img src="img/about_2.jpg" alt=""></div>
              <div class="item"><img src="img/about_1.jpg" alt=""></div>
            </div>
            <div class="nav nav_3">
              <div class="dots dots_a3"></div>
            </div>
          </div>
          <div class="about_gallery_text">
            <div class="title">
               Be <br>Winner</div>
            <div class="desc">This is the place where anyone can feel himself as a winner; Where exclusive apartments are being built for big bets; Where the game is accompanied by live music, world stars, big lotteries, unusual cuisine. </div>
          </div>
        </div>
      </div>
    </section>
    <section class="quote_area inverse mt150">
      <div class="wrapper">
        <div class="quote_area_in"> 
          <div class="p_cube"> </div>
          <div class="quote">This will be a journey you’ll never forget, <br>and it will provide you with memories that will most probably <br>make you want to visit Georgia again.</div>
        </div>
      </div>
    </section>
    <section class="events_w_area">
      <div class="wrapper">
        <div class="events_w_in">
          <div class="events_w_item">
            <div class="events_w_bg" style="background-image: url(img/events_w_1.jpg)"></div>
            <div class="events_w_title">
               Upcoming<br>Events</div>
            <div class="events_w_cat">Calendar</div>
          </div>
          <div class="events_w_item">
            <div class="events_w_bg" style="background-image: url(img/events_w_2.jpg)"></div>
            <div class="events_w_title">Big<br>Lotteries</div>
            <div class="events_w_cat">entertaiments</div>
          </div>
          <div class="events_w_item">
            <div class="events_w_bg" style="background-image: url(img/events_w_3.jpg)"></div>
            <div class="events_w_title">Exclusive<br>Apartaments</div>
            <div class="events_w_cat">Photogallery</div>
          </div>
        </div>
      </div>
    </section>
    <section class="about_footer_area">
      <div class="wrapper">
        <div class="about_footer_in">
          <div class="about_footer_title">Welcome<br>to Ambassadori</div>
          <div class="about_footer_desc">Casino "ambassadori" does everything  for your pleasure, so we say to You every<br>time with great pleasure - welcome to "Ambassadori"!  </div><a class="btn" href="#">Book Now  </a>
        </div>
      </div>
    </section>
    <div class="footer_area">
      <div class="wrapper">
        <footer>
          <div class="footer_left">
            <div class="footer_links">
              <ul>
                <li><a href="/">homepage</a></li>
                <li><a href="#">games</a></li>
                <li><a href="#">events</a></li>
                <li><a href="gallery.html">gallery</a></li>
              </ul>
              <ul>
                <li><a href="#">private rooms</a></li>
                <li><a href="tours.html">gaming tour</a></li>
                <li><a href="about.html">about casino</a></li>
                <li><a href="contacts.html">contact casino</a></li>
              </ul>
            </div>
            <div class="cop">© 2019 Casino Ambasador.  All Rights Reserved.</div>
          </div>
          <div class="footer_center"><span class="icon logo_footer"></span>
            <div class="phone">+995 322 112121</div>
            <div class="address">17 Shavteli str., 0105,<br>Tbilisi, Georgia</div>
          </div>
          <div class="footer_right">
            <div class="subscribe_area">
              <div class="subscribe_title">subscribe</div>
              <div class="subscribe_input">
                <input type="email" placeholder="Your email..."><span class="icon s_mail"></span>
              </div>
            </div>
            <div class="social"><a class="item" href="#"><span class="icon facebook"></span></a><a class="item" href="#"><span class="icon instagram"></span></a><a class="item" href="#"><span class="icon youtube"></span></a></div>
            <div class="footer_bottom">
              <div class="email"><a href="mailto:info@ambasadori.casino">info@ambasadori.casino</a></div><a class="terms" href="#">Terms of use</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/vendor.css">
    
  </body>
</html>
