build/contacts.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ambassadori</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="menu">
      <div class="line_1"></div>
      <div class="line_2"></div>
      <div class="line_3"></div>
    </div>
    <div class="menu_area">
      <div class="big_logo"></div>
      <div class="menu_area_in">
        <!--.close Close-->
        <!--.lang ru-->
        <ul>
          <li><a href="#">home</a></li>
          <li><a href="#">games</a></li>
          <li><a href="#">events</a></li>
          <li><a href="#">private rooms</a></li>
          <li><a href="#">tours</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">gallery</a></li>
          <li><a href="#">contact</a></li>
        </ul>
      </div>
    </div>
    <section class="header_area header_conatcts_area">
      <div class="header_area_bg headers_contacts_bg"></div>
      <div class="header_area_mask"></div>
      <div class="wrapper">
        <div class="header_area_in">
          <header>
            <div class="header_left">
              <div class="menu_l">
                <div class="line_1"></div>
                <div class="line_2"></div>
                <div class="line_3"></div>
              </div>
              <div class="phone">+995 322 112 121</div>
            </div>
            <div class="header_center"><a class="logo" href="#"><img src="img/logo.svg" alt=""></a></div>
            <div class="header_right">
              <div class="lang">ru</div><a class="book btn" href="#">book now</a>
              <div class="m_phone"><span class="icon m_phone"></span></div>
            </div>
          </header>
          <div class="contacts_header">
            <div class="map_address">
              <div>
                 17 Shavteli Str.<br>Tbilisi, 0105 <br>Georgia </div>
              <button class="btn">Request car</button><a href="">Open in Google Maps</a>
            </div>
            <div class="contacts_info">
              <div class="contacts_info_title">
                 Ambassadori<br>Casino</div>
              <div class="contacts_info_contacts">
                <div class="contact_info_item_area">
                  <div class="contacts_info_item">
                    <div class="contacts_info_item_title">Phone Number</div>
                    <div class="contacts_info_item_n">+995 598 38 38 38   </div>
                  </div>
                  <div class="contacts_info_item">
                    <div class="contacts_info_item_title">WhatsApp</div>
                    <div class="contacts_info_item_n">+995 322 11 21 21</div>
                  </div>
                </div>
                <div class="contact_info_item_area">   
                  <div class="contacts_info_item">
                    <div class="contacts_info_item_title">Reservation</div>
                    <div class="contacts_info_item_n"> <a href="mailto:info@ambassadori.casino">info@ambassadori.casino</a></div>
                  </div>
                  <div class="contacts_info_item">
                    <div class="contacts_info_item_title">Reception</div>
                    <div class="contacts_info_item_n"><a href="mailto:reception@ambassadori.casino">reception@ambassadori.casino  </a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="contact_form">
      <div class="wrapper">
        <div class="contact_form_area">
          <div class="get_in_touch">
            <div class="about_casino">
              <div class="about_casino_title">About casino</div>
              <div class="about_casino_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure </div>
            </div>
            <div class="touch_form">
              <div class="touch_title">
                 Get <br>in Touch</div>
              <div class="touch_form_top">
                <div class="touch_form_item">
                  <label>Name</label>
                  <input type="text" placeholder="Your name">
                </div>
                <div class="touch_form_item">
                  <label>E-mail</label>
                  <input type="email" placeholder="Your email...">
                </div>
              </div>
              <div class="touch_textarea">
                <label>Message</label>
                <textarea placeholder="Your message"></textarea>
              </div>
              <button class="btn"> Send      </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="try_gaming">
      <div class="wrapper">
        <div class="try_gaming_area">
          <div class="try_gaming_area_title">
             Try Our<br>Gaming Tours</div>
          <div class="try_gaming_area_desc">Some text about poker here</div><a class="btn" href="#">Details    </a>
        </div>
      </div>
    </section>
    <div class="footer_area">
      <div class="wrapper">
        <footer>
          <div class="footer_left">
            <div class="footer_links">
              <ul>
                <li><a href="#">homepage</a></li>
                <li><a href="#">games</a></li>
                <li><a href="#">events</a></li>
                <li><a href="#">gallery</a></li>
              </ul>
              <ul>
                <li><a href="#">private rooms</a></li>
                <li><a href="#">gaming tour</a></li>
                <li><a href="#">about casino</a></li>
                <li><a href="#">contact casino</a></li>
              </ul>
            </div>
            <div class="cop">© 2017 Casino Ambasador.  All Rights Reserved.</div>
          </div>
          <div class="footer_center"><span class="icon logo_footer"></span>
            <div class="phone">+995 322 112121</div>
            <div class="address">17 Shavteli str., 0105,<br>Tbilisi, Georgia</div>
          </div>
          <div class="footer_right">
            <div class="subscribe_area">
              <div class="subscribe_title">subscribe</div>
              <div class="subscribe_input">
                <input type="email" placeholder="Your email..."><span class="icon s_mail"></span>
              </div>
            </div>
            <div class="social"><a class="item" href="#"><span class="icon facebook"></span></a><a class="item" href="#"><span class="icon instagram"></span></a><a class="item" href="#"><span class="icon youtube"></span></a></div>
            <div class="footer_bottom">
              <div class="email"><a href="mailto:info@ambasadori.casino">info@ambasadori.casino</a></div><a class="terms" href="#">Terms of use</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/vendor.css">
    
  </body>
</html>

app/pug/contacts.pug
doctype html
html(lang='en')
  head
    include includes/_head

  body
    include includes/_menu


    section.header_area.header_conatcts_area
      //- .header_area_mask_bg
      .header_area_bg.headers_contacts_bg
      .header_area_mask
      .wrapper
        .header_area_in
          include includes/_header
          
          .contacts_header
            .map_address
              div 
                |17 Shavteli Str.
                br
                |Tbilisi, 0105 
                br
                |Georgia 
              button.btn Request car
              a(href="") Open in Google Maps
            .contacts_info
              .contacts_info_title 
                |Ambassadori
                br
                |Casino
              .contacts_info_contacts
                .contact_info_item_area
                  .contacts_info_item
                    .contacts_info_item_title Phone Number
                    .contacts_info_item_n +995 598 38 38 38   
                  .contacts_info_item
                    .contacts_info_item_title WhatsApp
                    .contacts_info_item_n +995 322 11 21 21
                .contact_info_item_area    
                  .contacts_info_item
                    .contacts_info_item_title Reservation
                    .contacts_info_item_n 
                      a(href="mailto:info@ambassadori.casino") info@ambassadori.casino
                  .contacts_info_item
                    .contacts_info_item_title Reception
                    .contacts_info_item_n
                      a(href="mailto:reception@ambassadori.casino") reception@ambassadori.casino  
          

        
              
  
    

    section.contact_form
      .wrapper
        .contact_form_area
          
          .get_in_touch
            .about_casino
              .about_casino_title About casino
              .about_casino_desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
            .touch_form
              .touch_title 
                |Get 
                br
                |in Touch
              .touch_form_top
                .touch_form_item
                  label Name
                  input(type="text", placeholder="Your name")
                .touch_form_item
                  label E-mail
                  input(type="email", placeholder="Your email...")
              .touch_textarea
                label Message
                textarea(placeholder="Your message")
              button.btn  Send      
                      
    
    section.try_gaming
      .wrapper
        .try_gaming_area
          .try_gaming_area_title 
            |Try Our
            br
            |Gaming Tours
          .try_gaming_area_desc
            |Some text about poker here
          a(href="#").btn Details    
                            
              


    include includes/_footer  
    
    include includes/_foot
