app/pug/events.pug
doctype html
html(lang='en')
  head
    include includes/_head

  body
    include includes/_menu


    section.header_area.header_events
      //- .header_area_mask_bg
      //- .header_area_bg.headers_about_bg
      //- .header_area_mask
      
      .wrapper
        .header_area_in
          include includes/_header
          
      
      section.events_area.events_page_area

        .events_area_in
          
           
          

          .events_page_slider
            div.slide_item(style="background-image: url(img/slide_1.jpg)")
              .events_mask
              .wrapper
                .event_page_content
                  .event_page_title
                    |Grand Lottery 
                    br
                    |Porsche Panamera
                  .event_page_date 08 march, wendsday  20:00
                  .event_page_btn 
                    a(href="#").book.btn More Details
            div.slide_item(style="background-image: url(img/slide_1.jpg)")
              .events_mask
              .wrapper
                .event_page_content
                  .event_page_title
                    |Grand Lottery 
                    br
                    |Porsche Panamera
                  .event_page_date 08 march, wendsday  20:00
                  .event_page_btn 
                    a(href="#").book.btn More Details
            div.slide_item(style="background-image: url(img/slide_1.jpg)")
              .events_mask
              .wrapper
                .event_page_content
                  .event_page_title
                    |Grand Lottery 
                    br
                    |Porsche Panamera
                  .event_page_date 08 march, wendsday  20:00
                  .event_page_btn 
                    a(href="#").book.btn More Details

          
                   
          .nav.nav_ep
            .dots.dots_event  
            
            
      section.events_item
        .wrapper
          .events_items_in
            .container
              ul.events_tabs
                li.tab-link.current(data-tab='tab-1') Upcoming Events
                li.tab-link(data-tab='tab-2') Archive Events

              #tab-1.tab-content.current
                .events_items_area
                  .events_item_e(style="background-image: url(img/ed_1.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Grand 
                      br 
                      |Lottery Porsche 
                      br
                      |Panamera
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_2.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_3.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_4.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_5.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_6.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_7.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                

                
              #tab-2.tab-content
                .events_items_area
                  
                  .events_item_e(style="background-image: url(img/ed_3.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_4.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_5.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_6.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_7.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_1.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Grand 
                      br 
                      |Lottery Porsche 
                      br
                      |Panamera
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_2.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by     



    include includes/_footer  
    
    include includes/_foot

dist/events.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ambassadori</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="menu">
      <div class="line_1"></div>
      <div class="line_2"></div>
      <div class="line_3"></div>
    </div>
    <div class="menu_area">
      <div class="big_logo"></div>
      <div class="menu_area_in">
        <!--.close Close-->
        <!--.lang ru-->
        <ul>
          <li><a href="/">home</a></li>
          <!--li
          a(href="#")
            | games
          -->
          <li><a href="events.html">events</a></li>
          <!--li
          a(href="#")
            | private rooms
          -->
          <li><a href="about.html">about</a></li>
          <li><a href="#">games</a></li>
          <li><a href="#">lotteries</a></li>
          <li><a href="tours.html">tours</a></li>
          <li><a href="gallery.html">gallery</a></li>
          <li><a href="contacts.html">contact</a></li>
        </ul>
      </div>
    </div>
    <section class="header_area header_events">
      <div class="wrapper">
        <div class="header_area_in">
          <header>
            <div class="header_left">
              <div class="menu_l">
                <div class="line_1"></div>
                <div class="line_2"></div>
                <div class="line_3"></div>
              </div>
              <div class="phone hide">+995 322 112 121</div>
            </div>
            <div class="header_center"><a class="logo" href="#"><img src="img/logo.svg" alt=""></a></div>
            <div class="header_right">
              <div class="lang">ru
                <ul class="lang_menu">
                  <li>en</li>
                  <li>en</li>
                </ul>
              </div><a class="book btn" href="/contacts.html">Contact Us</a>
              <div class="m_phone hide"><span class="icon m_phone"></span></div>
            </div>
          </header>
        </div>
      </div>
      <section class="events_area events_page_area">
        <div class="events_area_in">
          <div class="events_page_slider">
            <div class="slide_item" style="background-image: url(img/slide_1.jpg)">
              <div class="events_mask"></div>
              <div class="wrapper">
                <div class="event_page_content">
                  <div class="event_page_title">Grand Lottery <br>Porsche Panamera</div>
                  <div class="event_page_date">08 march, wendsday  20:00</div>
                  <div class="event_page_btn"> <a class="book btn" href="#">More Details</a></div>
                </div>
              </div>
            </div>
            <div class="slide_item" style="background-image: url(img/slide_1.jpg)">
              <div class="events_mask"></div>
              <div class="wrapper">
                <div class="event_page_content">
                  <div class="event_page_title">Grand Lottery <br>Porsche Panamera</div>
                  <div class="event_page_date">08 march, wendsday  20:00</div>
                  <div class="event_page_btn"> <a class="book btn" href="#">More Details</a></div>
                </div>
              </div>
            </div>
            <div class="slide_item" style="background-image: url(img/slide_1.jpg)">
              <div class="events_mask"></div>
              <div class="wrapper">
                <div class="event_page_content">
                  <div class="event_page_title">Grand Lottery <br>Porsche Panamera</div>
                  <div class="event_page_date">08 march, wendsday  20:00</div>
                  <div class="event_page_btn"> <a class="book btn" href="#">More Details</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="nav nav_ep">
            <div class="dots dots_event"> </div>
          </div>
        </div>
      </section>
      <section class="events_item">
        <div class="wrapper">
          <div class="events_items_in">
            <div class="container">
              <ul class="events_tabs">
                <li class="tab-link current" data-tab="tab-1">Upcoming Events</li>
                <li class="tab-link" data-tab="tab-2">Archive Events</li>
              </ul>
              <div class="tab-content current" id="tab-1">
                <div class="events_items_area">
                  <div class="events_item_e" style="background-image: url(img/ed_1.jpg)">
                    <div class="ei_mask"></div>
                    <div class="ei_date">
                       08 <span>/ 12</span></div><a class="ei_title" href="#">
                       Grand <br>Lottery Porsche <br>Panamera</a>
                    <div class="ei_desc">
                       A traditional card game .The goal of the <br>blackjack game is to defeat the dealer by </div>
                  </div>
                  <div class="events_item_e" style="background-image: url(img/ed_2.jpg)">
                    <div class="ei_mask"></div>
                    <div class="ei_date">
                       08 <span>/ 12</span></div><a class="ei_title" href="#">
                       Meet 5 Jazz <br>Artists In<br>ambassadori</a>
                    <div class="ei_desc">
                       A traditional card game .The goal of the <br>blackjack game is to defeat the dealer by </div>
                  </div>
                  <div class="events_item_e" style="background-image: url(img/ed_3.jpg)">
                    <div class="ei_mask"></div>
                    <div class="ei_date">
                       08 <span>/ 12</span></div><a class="ei_title" href="#">
                       Meet 5 Jazz <br>Artists In<br>ambassadori</a>
                    <div class="ei_desc">
                       A traditional card game .The goal of the <br>blackjack game is to defeat the dealer by </div>
                  </div>
                  <div class="events_item_e" style="background-image: url(img/ed_4.jpg)">
                    <div class="ei_mask"></div>
                    <div class="ei_date">
                       08 <span>/ 12</span></div><a class="ei_title" href="#">
                       Meet 5 Jazz <br>Artists In<br>ambassadori</a>
                    <div class="ei_desc">
                       A traditional card game .The goal of the <br>blackjack game is to defeat the dealer by </div>
                  </div>
                  <div class="events_item_e" style="background-image: url(img/ed_5.jpg)">
                    <div class="ei_mask"></div>
                    <div class="ei_date">
                       08 <span>/ 12</span></div><a class="ei_title" href="#">
                       Meet 5 Jazz <br>Artists In<br>ambassadori</a>
                    <div class="ei_desc">
                       A traditional card game .The goal of the <br>blackjack game is to defeat the dealer by </div>
                  </div>
                  <div class="events_item_e" style="background-image: url(img/ed_6.jpg)">
                    <div class="ei_mask"></div>
                    <div class="ei_date">
                       08 <span>/ 12</span></div><a class="ei_title" href="#">
                       Meet 5 Jazz <br>Artists In<br>ambassadori</a>
                    <div class="ei_desc">
                       A traditional card game .The goal of the <br>blackjack game is to defeat the dealer by </div>
                  </div>
                  <div class="events_item_e" style="background-image: url(img/ed_7.jpg)">
                    <div class="ei_mask"></div>
                    <div class="ei_date">
                       08 <span>/ 12</span></div><a class="ei_title" href="#">
                       Meet 5 Jazz <br>Artists In<br>ambassadori</a>
                    <div class="ei_desc">
                       A traditional card game .The goal of the <br>blackjack game is to defeat the dealer by </div>
                  </div>
                </div>
              </div>
              <div class="tab-content" id="tab-2">
                <div class="events_items_area">
                  <div class="events_item_e" style="background-image: url(img/ed_3.jpg)">
                    <div class="ei_mask"></div>
                    <div class="ei_date">
                       08 <span>/ 12</span></div><a class="ei_title" href="#">
                       Meet 5 Jazz <br>Artists In<br>ambassadori</a>
                    <div class="ei_desc">
                       A traditional card game .The goal of the <br>blackjack game is to defeat the dealer by </div>
                  </div>
                  <div class="events_item_e" style="background-image: url(img/ed_4.jpg)">
                    <div class="ei_mask"></div>
                    <div class="ei_date">
                       08 <span>/ 12</span></div><a class="ei_title" href="#">
                       Meet 5 Jazz <br>Artists In<br>ambassadori</a>
                    <div class="ei_desc">
                       A traditional card game .The goal of the <br>blackjack game is to defeat the dealer by </div>
                  </div>
                  <div class="events_item_e" style="background-image: url(img/ed_5.jpg)">
                    <div class="ei_mask"></div>
                    <div class="ei_date">
                       08 <span>/ 12</span></div><a class="ei_title" href="#">
                       Meet 5 Jazz <br>Artists In<br>ambassadori</a>
                    <div class="ei_desc">
                       A traditional card game .The goal of the <br>blackjack game is to defeat the dealer by </div>
                  </div>
                  <div class="events_item_e" style="background-image: url(img/ed_6.jpg)">
                    <div class="ei_mask"></div>
                    <div class="ei_date">
                       08 <span>/ 12</span></div><a class="ei_title" href="#">
                       Meet 5 Jazz <br>Artists In<br>ambassadori</a>
                    <div class="ei_desc">
                       A traditional card game .The goal of the <br>blackjack game is to defeat the dealer by </div>
                  </div>
                  <div class="events_item_e" style="background-image: url(img/ed_7.jpg)">
                    <div class="ei_mask"></div>
                    <div class="ei_date">
                       08 <span>/ 12</span></div><a class="ei_title" href="#">
                       Meet 5 Jazz <br>Artists In<br>ambassadori</a>
                    <div class="ei_desc">
                       A traditional card game .The goal of the <br>blackjack game is to defeat the dealer by </div>
                  </div>
                  <div class="events_item_e" style="background-image: url(img/ed_1.jpg)">
                    <div class="ei_mask"></div>
                    <div class="ei_date">
                       08 <span>/ 12</span></div><a class="ei_title" href="#">
                       Grand <br>Lottery Porsche <br>Panamera</a>
                    <div class="ei_desc">
                       A traditional card game .The goal of the <br>blackjack game is to defeat the dealer by </div>
                  </div>
                  <div class="events_item_e" style="background-image: url(img/ed_2.jpg)">
                    <div class="ei_mask"></div>
                    <div class="ei_date">
                       08 <span>/ 12</span></div><a class="ei_title" href="#">
                       Meet 5 Jazz <br>Artists In<br>ambassadori</a>
                    <div class="ei_desc">
                       A traditional card game .The goal of the <br>blackjack game is to defeat the dealer by     </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <div class="footer_area">
      <div class="wrapper">
        <footer>
          <div class="footer_left">
            <div class="footer_links">
              <ul>
                <li><a href="/">homepage</a></li>
                <li><a href="#">games</a></li>
                <li><a href="#">events</a></li>
                <li><a href="gallery.html">gallery</a></li>
              </ul>
              <ul>
                <li><a href="#">private rooms</a></li>
                <li><a href="tours.html">gaming tour</a></li>
                <li><a href="about.html">about casino</a></li>
                <li><a href="contacts.html">contact casino</a></li>
              </ul>
            </div>
            <div class="cop">© 2019 Casino Ambasador.  All Rights Reserved.</div>
          </div>
          <div class="footer_center"><span class="icon logo_footer"></span>
            <div class="phone">+995 322 112121</div>
            <div class="address">17 Shavteli str., 0105,<br>Tbilisi, Georgia</div>
          </div>
          <div class="footer_right">
            <div class="subscribe_area">
              <div class="subscribe_title">subscribe</div>
              <div class="subscribe_input">
                <input type="email" placeholder="Your email..."><span class="icon s_mail"></span>
              </div>
            </div>
            <div class="social"><a class="item" href="#"><span class="icon facebook"></span></a><a class="item" href="#"><span class="icon instagram"></span></a><a class="item" href="#"><span class="icon youtube"></span></a></div>
            <div class="footer_bottom">
              <div class="email"><a href="mailto:info@ambasadori.casino">info@ambasadori.casino</a></div><a class="terms" href="#">Terms of use</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/vendor.css">
    
  </body>
</html>
