app/pug/event.pug
doctype html
html(lang='en')
  head
    include includes/_head

  body
    include includes/_menu


    section.header_area.header_event_desc
      .header_area_mask_bg
      .header_area_bg.header_event_desc_area_bg
      .header_area_mask
      .wrapper
        .header_area_in
          include includes/_header
          
          .slogan
            h1 
              |Grand Lottery
              br
              |Porsche Panamera
              .event_page_date 08 march, wendsday  20:00
              a(href="#event").event_arrow
                span.icon.arrow
              
              
              
    section.about_gallery_area.mtm200.event_gallery_area_m#event
      .wrapper
        .about_gallery_in
          .about_gallery_wrap
            .about_gallery.about_gallery_1
              .item
                img(src="img/about_1.jpg", alt="")
              .item
                img(src="img/about_2.jpg", alt="")
              .item
                img(src="img/about_3.jpg", alt="")
                  
            .nav.nav_1
              
              .dots.dots_a1
              
          
          .about_gallery_text
            .title 
              |About
              

            .desc Casino "Ambassadori" is not a usual casino, it is an elite gambling club that was created based on the idea of ​​a premium-class casino. The premium class includes a unique approach to each customer and high class service. 



            
  
    
  
            
  
            
    section.events_w_area
      .events_w_area_title Other Entertaiments
      .wrapper
        .events_w_in
          .events_w_item
            .events_w_bg(style="background-image: url(img/events_w_1.jpg)")
            .events_w_title 
              |Upcoming
              br
              |Events
            .events_w_cat Calendar
          .events_w_item
            .events_w_bg(style="background-image: url(img/events_w_2.jpg)")
            .events_w_title
              |Ambassadori
              br
              |Gallery
            .events_w_cat photogallery
            //- a(href="").btn Details 
          .events_w_item
            .events_w_bg(style="background-image: url(img/events_w_3.jpg)")
            .events_w_title
              |Gaming
              br
              |Tours
            .events_w_cat Entertaiments
              
  

    include includes/_footer  
    
    include includes/_foot

dist/event.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ambassadori</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="menu">
      <div class="line_1"></div>
      <div class="line_2"></div>
      <div class="line_3"></div>
    </div>
    <div class="menu_area">
      <div class="big_logo"></div>
      <div class="menu_area_in">
        <!--.close Close-->
        <!--.lang ru-->
        <ul>
          <li><a href="/">home</a></li>
          <!--li
          a(href="#")
            | games
          -->
          <li><a href="events.html">events</a></li>
          <!--li
          a(href="#")
            | private rooms
          -->
          <li><a href="about.html">about</a></li>
          <li><a href="#">games</a></li>
          <li><a href="#">lotteries</a></li>
          <li><a href="tours.html">tours</a></li>
          <li><a href="gallery.html">gallery</a></li>
          <li><a href="contacts.html">contact</a></li>
        </ul>
      </div>
    </div>
    <section class="header_area header_event_desc">
      <div class="header_area_mask_bg"></div>
      <div class="header_area_bg header_event_desc_area_bg"></div>
      <div class="header_area_mask"></div>
      <div class="wrapper">
        <div class="header_area_in">
          <header>
            <div class="header_left">
              <div class="menu_l">
                <div class="line_1"></div>
                <div class="line_2"></div>
                <div class="line_3"></div>
              </div>
              <div class="phone hide">+995 322 112 121</div>
            </div>
            <div class="header_center"><a class="logo" href="#"><img src="img/logo.svg" alt=""></a></div>
            <div class="header_right">
              <div class="lang">ru
                <ul class="lang_menu">
                  <li>en</li>
                  <li>en</li>
                </ul>
              </div><a class="book btn" href="/contacts.html">Contact Us</a>
              <div class="m_phone hide"><span class="icon m_phone"></span></div>
            </div>
          </header>
          <div class="slogan">
            <h1>
               Grand Lottery<br>Porsche Panamera
              <div class="event_page_date">08 march, wendsday  20:00</div><a class="event_arrow" href="#event"><span class="icon arrow"></span></a>
            </h1>
          </div>
        </div>
      </div>
    </section>
    <section class="about_gallery_area mtm200 event_gallery_area_m" id="event">
      <div class="wrapper">
        <div class="about_gallery_in">
          <div class="about_gallery_wrap">
            <div class="about_gallery about_gallery_1">
              <div class="item"><img src="img/about_1.jpg" alt=""></div>
              <div class="item"><img src="img/about_2.jpg" alt=""></div>
              <div class="item"><img src="img/about_3.jpg" alt=""></div>
            </div>
            <div class="nav nav_1">
              <div class="dots dots_a1"></div>
            </div>
          </div>
          <div class="about_gallery_text">
            <div class="title">
               About</div>
            <div class="desc">Casino "Ambassadori" is not a usual casino, it is an elite gambling club that was created based on the idea of ​​a premium-class casino. The premium class includes a unique approach to each customer and high class service. </div>
          </div>
        </div>
      </div>
    </section>
    <section class="events_w_area">
      <div class="events_w_area_title">Other Entertaiments</div>
      <div class="wrapper">
        <div class="events_w_in">
          <div class="events_w_item">
            <div class="events_w_bg" style="background-image: url(img/events_w_1.jpg)"></div>
            <div class="events_w_title">
               Upcoming<br>Events</div>
            <div class="events_w_cat">Calendar</div>
          </div>
          <div class="events_w_item">
            <div class="events_w_bg" style="background-image: url(img/events_w_2.jpg)"></div>
            <div class="events_w_title">Ambassadori<br>Gallery</div>
            <div class="events_w_cat">photogallery</div>
          </div>
          <div class="events_w_item">
            <div class="events_w_bg" style="background-image: url(img/events_w_3.jpg)"></div>
            <div class="events_w_title">Gaming<br>Tours</div>
            <div class="events_w_cat">Entertaiments</div>
          </div>
        </div>
      </div>
    </section>
    <div class="footer_area">
      <div class="wrapper">
        <footer>
          <div class="footer_left">
            <div class="footer_links">
              <ul>
                <li><a href="/">homepage</a></li>
                <li><a href="#">games</a></li>
                <li><a href="#">events</a></li>
                <li><a href="gallery.html">gallery</a></li>
              </ul>
              <ul>
                <li><a href="#">private rooms</a></li>
                <li><a href="tours.html">gaming tour</a></li>
                <li><a href="about.html">about casino</a></li>
                <li><a href="contacts.html">contact casino</a></li>
              </ul>
            </div>
            <div class="cop">© 2019 Casino Ambasador.  All Rights Reserved.</div>
          </div>
          <div class="footer_center"><span class="icon logo_footer"></span>
            <div class="phone">+995 322 112121</div>
            <div class="address">17 Shavteli str., 0105,<br>Tbilisi, Georgia</div>
          </div>
          <div class="footer_right">
            <div class="subscribe_area">
              <div class="subscribe_title">subscribe</div>
              <div class="subscribe_input">
                <input type="email" placeholder="Your email..."><span class="icon s_mail"></span>
              </div>
            </div>
            <div class="social"><a class="item" href="#"><span class="icon facebook"></span></a><a class="item" href="#"><span class="icon instagram"></span></a><a class="item" href="#"><span class="icon youtube"></span></a></div>
            <div class="footer_bottom">
              <div class="email"><a href="mailto:info@ambasadori.casino">info@ambasadori.casino</a></div><a class="terms" href="#">Terms of use</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/vendor.css">
    
  </body>
</html>
