build/gallery.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ambassadori</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="menu">
      <div class="line_1"></div>
      <div class="line_2"></div>
      <div class="line_3"></div>
    </div>
    <div class="menu_area">
      <div class="big_logo"></div>
      <div class="menu_area_in">
        <!--.close Close-->
        <!--.lang ru-->
        <ul>
          <li><a href="#">home</a></li>
          <li><a href="#">games</a></li>
          <li><a href="#">events</a></li>
          <li><a href="#">private rooms</a></li>
          <li><a href="#">tours</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">gallery</a></li>
          <li><a href="#">contact</a></li>
        </ul>
      </div>
    </div>
    <section class="header_area gallery_header_area">
      <div class="wrapper">
        <div class="header_area_in">
          <header>
            <div class="header_left">
              <div class="menu_l">
                <div class="line_1"></div>
                <div class="line_2"></div>
                <div class="line_3"></div>
              </div>
              <div class="phone">+995 322 112 121</div>
            </div>
            <div class="header_center"><a class="logo" href="#"><img src="img/logo.svg" alt=""></a></div>
            <div class="header_right">
              <div class="lang">ru</div><a class="book btn" href="#">book now</a>
              <div class="m_phone"><span class="icon m_phone"></span></div>
            </div>
          </header>
        </div>
      </div>
    </section>
    <section class="gallery_area gallery_page">
      <div class="wrapper">
        <div class="gallery_area_in">
          <h2>Gallery</h2>
          <div class="container">
            <ul class="tabs">
              <li class="tab-link current" data-tab="tab-1">Casino Interiors</li>
              <li class="tab-link" data-tab="tab-2">Vip Rooms</li>
              <li class="tab-link" data-tab="tab-3">Restaurant</li>
              <li class="tab-link" data-tab="tab-4">Lounge Bar</li>
            </ul>
            <div class="tab-content current" id="tab-1">
              <div class="gallery gallery_i">
                <div class="item"><img src="img/atm_1.jpg" alt="">
                  <div class="gallery_title"> <span>Interiors  </span></div>
                </div>
                <div class="item"><img src="img/atm_1.jpg" alt=""></div>
                <div class="item"><img src="img/atm_1.jpg" alt=""></div>
              </div>
              <div class="dots dots_i">     </div>
              <div class="gallery_desc">We are ready to prepare unforgettable juer the best conditions <br>for entertaining and gaming tour lovers.      </div>
            </div>
            <div class="tab-content" id="tab-2">
              <div class="gallery gallery_v">
                <div class="item"><img src="img/atm_1.jpg" alt="">
                  <div class="gallery_title"> <span>Vip Rooms</span></div>
                </div>
                <div class="item"><img src="img/atm_1.jpg" alt=""></div>
                <div class="item"><img src="img/atm_1.jpg" alt=""></div>
              </div>
              <div class="dots dots_v">     </div>
              <div class="gallery_desc">-vip room- We are ready to prepare unforgettable juer the best conditions <br>for entertaining and gaming tour lovers.      </div>
            </div>
            <div class="tab-content" id="tab-3">
              <div class="gallery gallery_r">
                <div class="item"><img src="img/atm_1.jpg" alt="">
                  <div class="gallery_title"> <span>Restaurants</span></div>
                </div>
                <div class="item"><img src="img/atm_1.jpg" alt=""></div>
                <div class="item"><img src="img/atm_1.jpg" alt=""></div>
              </div>
              <div class="dots dots_r">   </div>
              <div class="gallery_desc">-restaurants- We are ready to prepare unforgettable juer the best conditions <br>for entertaining and gaming tour lovers.      </div>
            </div>
            <div class="tab-content" id="tab-4">
              <div class="gallery gallery_l">
                <div class="item"><img src="img/atm_1.jpg" alt="">
                  <div class="gallery_title"> <span>Bar </span></div>
                </div>
                <div class="item"><img src="img/atm_1.jpg" alt=""></div>
                <div class="item"><img src="img/atm_1.jpg" alt=""></div>
              </div>
              <div class="dots dots_l">    </div>
              <div class="gallery_desc">-lounge bar- We are ready to prepare unforgettable juer the best conditions <br>for entertaining and gaming tour lovers.      </div>
              <div class="dots"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="footer_area">
      <div class="wrapper">
        <footer>
          <div class="footer_left">
            <div class="footer_links">
              <ul>
                <li><a href="#">homepage</a></li>
                <li><a href="#">games</a></li>
                <li><a href="#">events</a></li>
                <li><a href="#">gallery</a></li>
              </ul>
              <ul>
                <li><a href="#">private rooms</a></li>
                <li><a href="#">gaming tour</a></li>
                <li><a href="#">about casino</a></li>
                <li><a href="#">contact casino</a></li>
              </ul>
            </div>
            <div class="cop">© 2017 Casino Ambasador.  All Rights Reserved.</div>
          </div>
          <div class="footer_center"><span class="icon logo_footer"></span>
            <div class="phone">+995 322 112121</div>
            <div class="address">17 Shavteli str., 0105,<br>Tbilisi, Georgia</div>
          </div>
          <div class="footer_right">
            <div class="subscribe_area">
              <div class="subscribe_title">subscribe</div>
              <div class="subscribe_input">
                <input type="email" placeholder="Your email..."><span class="icon s_mail"></span>
              </div>
            </div>
            <div class="social"><a class="item" href="#"><span class="icon facebook"></span></a><a class="item" href="#"><span class="icon instagram"></span></a><a class="item" href="#"><span class="icon youtube"></span></a></div>
            <div class="footer_bottom">
              <div class="email"><a href="mailto:info@ambasadori.casino">info@ambasadori.casino</a></div><a class="terms" href="#">Terms of use</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/vendor.css">
    
  </body>
</html>

app/pug/gallery.pug
doctype html
html(lang='en')
  head
    include includes/_head

  body
    include includes/_menu


    section.header_area.gallery_header_area
      
      .wrapper
        .header_area_in
          include includes/_header
          



    section.gallery_area.gallery_page
      .wrapper
        .gallery_area_in
          h2 Gallery
          .container
            ul.tabs
              li.tab-link.current(data-tab='tab-1') Casino Interiors
              li.tab-link(data-tab='tab-2') Vip Rooms
              li.tab-link(data-tab='tab-3') Restaurant
              li.tab-link(data-tab='tab-4') Lounge Bar

            #tab-1.tab-content.current
              .gallery.gallery_i
                .item
                  img(src="img/atm_1.jpg", alt="")
                  .gallery_title 
                    span Interiors  
                .item
                  img(src="img/atm_1.jpg", alt="")
                .item
                  img(src="img/atm_1.jpg", alt="")
              .dots.dots_i      
              .gallery_desc
                |We are ready to prepare unforgettable juer the best conditions 
                br
                |for entertaining and gaming tour lovers.      
            #tab-2.tab-content
              .gallery.gallery_v
                .item
                  img(src="img/atm_1.jpg", alt="")
                  .gallery_title 
                    span Vip Rooms
                .item
                  img(src="img/atm_1.jpg", alt="")
                .item
                  img(src="img/atm_1.jpg", alt="")
              .dots.dots_v      
              .gallery_desc
                |-vip room- We are ready to prepare unforgettable juer the best conditions 
                br
                |for entertaining and gaming tour lovers.      
            #tab-3.tab-content
              .gallery.gallery_r
                .item
                  img(src="img/atm_1.jpg", alt="")
                  .gallery_title 
                    span Restaurants
                .item
                  img(src="img/atm_1.jpg", alt="")
                .item
                  img(src="img/atm_1.jpg", alt="")
              .dots.dots_r    
              .gallery_desc
                |-restaurants- We are ready to prepare unforgettable juer the best conditions 
                br
                |for entertaining and gaming tour lovers.      
            #tab-4.tab-content
              .gallery.gallery_l
                .item
                  img(src="img/atm_1.jpg", alt="")
                  .gallery_title 
                    span Bar 
                .item
                  img(src="img/atm_1.jpg", alt="")
                .item
                  img(src="img/atm_1.jpg", alt="")
              .dots.dots_l     
              .gallery_desc
                |-lounge bar- We are ready to prepare unforgettable juer the best conditions 
                br
                |for entertaining and gaming tour lovers.      
          
          

              .dots
           
        


    include includes/_footer  
    
    include includes/_foot
