app/pug/index.pug
doctype html
html(lang='en')
  head
    include includes/_head

  body
    include includes/_menu


    section.header_area
      .header_area_mask_bg
      .header_area_bg
      .header_area_mask
      .wrapper
        .header_area_in
          include includes/_header
          

          .slogan
            h1 Premium Casino
            span in the heart of georgia
          .header_bottom
            a(href="#")
              span.icon.event
              |upcoming LOTTERIES
            //a(href="#")
              span.icon.tour
              |virtual tour

    section.services_area
      .services_area_in
        .services_items
          .services_item
            .services_item_in
              .services_img
                img(src="img/service_1.jpg", alt="")
              .services_info
                .service_info_in
                  .services_title
                    h3 High Service
                    span for more people
                  .services_title_adj
                    div *
                    span
                      |We prepare
                      br
                      | any food
                      br
                      | you chuse
          .services_item
            .services_item_in
              .services_img
                img(src="img/service_2.jpg", alt="")
              .services_info
                .service_info_in
                  .services_title
                    h3 High Service 2
                    span for more people
                  .services_title_adj
                    div *
                    span
                      | We prepare
                      br
                      | any food
                      br
                      | you chuse
          .services_item
            .services_item_in
              .services_img
                img(src="img/service_3.jpg", alt="")
              .services_info
                .service_info_in
                  .services_title
                    h3 High Service 3
                    span for more people
                  .services_title_adj
                    div *
                    span
                      | We prepare
                      br
                      | any food
                      br
                      | you chuse
          .services_item
            .services_item_in
              .services_img
                img(src="img/service_4.jpg", alt="")
              .services_info
                .service_info_in
                  .services_title
                    h3 High Service 4
                    span for more people
                  .services_title_adj
                    div *
                    span
                      | We prepare
                      br
                      | any food
                      br
                      | you chuse
          .services_item
            .services_item_in
              .services_img
                img(src="img/service_5.jpg", alt="")
              .services_info
                .service_info_in
                  .services_title
                    h3 High Service 5
                    span for more people
                  .services_title_adj
                    div *
                    span
                      | We prepare
                      br
                      | any food
                      br
                      | you chuse




        .services_links
          .wrapper
            .services_links_line
            .services_links_list
              .item
                .square
                span.tit
                  |We will take
                  br
                  |tickets to tbilisi
              .item
                .square
                span.tit
                  |Book a hotel
                  br
                  |room
              .item
                .square
                span.tit
                  | transfer by
                  br
                  |business class car
              .item
                .square
                span.tit
                  | free meals
                  br
                  |in the restaurant
              .item
                .square
                .span.tit
                  | enjoy
                  br
                  |the game




    section.events_area

      .events_area_in
        .wrapper
          .slider_miniatures_area
            .slider_miniatures
              .item
                .date
                  |08
                  span / 09
                .type
                  |Live Music
                .title
                  |5 Famous
                  br
                  |Jazz Artists
                .subdate
                  | Wednsday
                  br
                  | 20:00
              .item
                .date
                  | 25
                  span / 09
                .type
                  | Preparty
                .title
                  | Autumn
                  br
                  | Party
                .subdate
                  | Wednsday
                  br
                  | 20:00
              .item
                .date
                  | 08
                  span / 12
                .type
                  | Live Music
                .title
                  | James blunt
                  br
                  | & qartet
                .subdate
                  | Wednsday
                  br
                  | 20:00
              .item
                .date
                  | 08
                  span / 09
                .type
                  | Live Music
                .title
                  | 5 Famous
                  br
                  | Jazz Artists
                .subdate
                  | Wednsday
                  br
                  | 20:00
              .item
                .date
                  | 08
                  span / 09
                .type
                  | Live Music
                .title
                  | 5 Famous
                  br
                  | Jazz Artists
                .subdate
                  | Wednsday
                  br
                  | 20:00
              .item
                .date
                  | 08
                  span / 09
                .type
                  | Live Music
                .title
                  | 5 Famous
                  br
                  | Jazz Artists
                .subdate
                  | Wednsday
                  br
                  | 20:00
            //a(href="#").btn.events_btn all events

        .events_slider
          div.slide_item(style="background-image: url(img/slide_1.jpg)")
            .events_mask
            .wrapper
              .slide_content
                .date
                  .sdate
                    | 08
                    span / 09
                  .subdate
                    | Wednsday
                    br
                    | 20:00
                .type
                  | Live Music
                h3.title
                  | Meet 5
                  br
                  | Jazz Famous
                  br
                  | Artists
                .desc
                  | Some text about this woman
          div.slide_item(style="background-image: url(img/slide_1.jpg)")
            .events_mask
            .wrapper
              .slide_content
                .date
                  .sdate
                    | 25
                    span / 09
                  .subdate
                    | Wednsday
                    br
                    | 20:00
                .type
                  | preparty
                h3.title
                  | Autumn Party

                .desc
                  | Some text about this woman
          div.slide_item(style="background-image: url(img/slide_1.jpg)")
            .events_mask
            .wrapper
              .slide_content
                .date
                  .sdate
                    | 08
                    span / 12
                  .subdate
                    | Wednsday
                    br
                    | 20:00
                .type
                  | Live Music
                h3.title
                  | James blunt
                  br
                  | & qartet
                .desc
                  | Some text about this woman
          div.slide_item(style="background-image: url(img/slide_1.jpg)")
            .events_mask
            .wrapper
              .slide_content
                .date
                  .sdate
                    | 08
                    span / 09
                  .subdate
                    | Wednsday
                    br
                    | 20:00
                .type
                  | Live Music
                h3.title
                  | Meet 5
                  br
                  | Jazz Famous
                  br
                  | Artists
                .desc
                  | Some text about this woman

          div.slide_item(style="background-image: url(img/slide_1.jpg)")
            .events_mask
            .wrapper
              .slide_content
                .date
                  .sdate
                    | 08
                    span / 09
                  .subdate
                    | Wednsday
                    br
                    | 20:00
                .type
                  | Live Music
                h3.title
                  | Meet 5
                  br
                  | Jazz Famous
                  br
                  | Artists
                .desc
                  | Some text about this woman
          div.slide_item(style="background-image: url(img/slide_1.jpg)")
            .events_mask
            .wrapper
              .slide_content
                .date
                  .sdate
                    | 08
                    span / 09
                  .subdate
                    | Wednsday
                    br
                    | 20:00
                .type
                  | Live Music
                h3.title
                  | Meet 5
                  br
                  | Jazz Famous
                  br
                  | Artists
                .desc
                  | Some text about this woman

    section.news_area
      .wrapper
        .news_area_in
          .news_item.news_item_v.news_item_1
            .news_time
              span.icon.wacth
              |every day at 22:00
            .news_prize
              .icon.dollar
              .prize_fund prize fund
              .fund
                |25.000
                br
                |gel
            h3.news_title Mega Big Win
            .news_subtitle Some text about poker here
            .news_button
              //a.btn(href="#") Details

          .news_item.news_item_h.news_item_2
            .news_time
              span.icon.wacth
              | Every Tuesday, Wednesday, Thursday
            .news_prize
              .icon.dollar
              .prize_fund prize fund
              .fund
                | 3.750
                br
                | gel
            h3.news_title Best Hand
            .news_subtitle Some text about poker here
            .news_button
              //a.btn(href="#") Details

          .news_item.news_item_h.news_item_3
            .news_time
              span.icon.wacth
              | every Saturday at 23:00
            .news_prize
              .icon.dollar
              .prize_fund prize fund
              .fund
                | 240.000
                br
                | gel
            h3.news_title Poker Battle
            .news_subtitle Some text about poker here
            .news_button
              //a.btn(href="#") Details


    section.about_area_mobile
      .wrapper
        .about_area_in
          .about_info
            .item.lt
              .about_num 22
              .about_tit Gaming Tables
              .square
              .about_desc For great games
            .item.rt
              .about_num 61
              .about_tit slot machine
              .square
              .about_desc For every taste
            .item.lb
              .about_num 3
              .about_tit private rooms
              .square
              .about_desc For high stakes and comfort
            .item.rb
              .about_num 5
              .about_tit different games
              .square
              .about_desc From Poker to Bakkar

    section.about_area
      .about_area_mask
      .wrapper
        .about_area_in
          .about_info
            .item.lt
              .about_num 22
              .about_tit Gaming Tables
              .square
              .about_desc For great games
            .item.rt
              .about_num 61
              .about_tit slot machine
              .square
              .about_desc For every taste
            .item.lb
              .about_num 3
              .about_tit private rooms
              .square
              .about_desc For high stakes and comfort
            .item.rb
              .about_num 5
              .about_tit different games
              .square
              .about_desc From Poker to Bakkar
          h2.about_title
            |About
            br
            |Casino
          .play_vid
            |play video
          .play_button_area
            a(data-fancybox, href="https://www.youtube.com/watch?v=K0OogNkzy5g").play_button
              span.icon.play





    section.games_slider_area
      .wrapper
        .games_slider_in
          .games_slider
            .games_item
              .item_left
                .title
                  |Black Jack
                .desc
                  | A traditional card game. The goal of the game
                  | is to defeat the dealer by typing 21 points.
                .button
                  a(href='#').btn see more
              .item_right
                .table
                  img(src="img/table.png")
                  .chips
                    img(src="img/chip.png")
            .games_item
              .item_left
                .title
                  | Baccar
                .desc
                  | A traditional card game. The goal of the game
                  | is to defeat the dealer by typing 21 points.
                .button
                  a(href='#').btn see more
              .item_right
                .table
                  img(src="img/table.png")
                  .dices
                    img(src="img/dice.png")
            .games_item
              .item_left
                .title
                  | Poker
                .desc
                  | A traditional card game. The goal of the game
                  | is to defeat the dealer by typing 21 points.
                .button
                  a(href='#').btn see more
              .item_right
                .table
                  img(src="img/table.png")
                  .cards
                    img(src="img/cards.png")
            .games_item
              .item_left
                .title
                  | Slots
                .desc
                  | A traditional card game. The goal of the game
                  | is to defeat the dealer by typing 21 points.
                .button
                  a(href='#').btn see more
              .item_right
                .slots
                  img(src="img/slots.png")
            .games_item
              .item_left
                .title
                  | Roulette
                .desc
                  | A traditional card game. The goal of the game
                  | is to defeat the dealer by typing 21 points.
                .button
                  a(href='#').btn see more
              .item_right
                .roulette
                  img(src="img/roulette.png")

          .games_miniatures_area
            .games_miniatures_title
              span
              span
                |Choose
                br
                |  your
                br
                |  game
              span
            .games_miniatures
              .item
                span.icon.blackjack
                .title Black Jack
              .item
                span.icon.bacar
                .title Baccar
              .item
                span.icon.poker
                .title Poker
              .item
                span.icon.slots
                .title Slots
              .item
                span.icon.roulete
                .title Roulette



    section.gallery_area
      .wrapper
        .gallery_area_in
          h2 Atmosphere
          .container
            ul.tabs
              li.tab-link.current(data-tab='tab-1') Photogallery
              //li.tab-link(data-tab='tab-2') tour 360°

            #tab-1.tab-content.current
              .gallery.gallery_m
                .item
                  img(src="img/atm_1.jpg", alt="")
                .item
                  img(src="img/atm_1.jpg", alt="")
                .item
                  img(src="img/atm_1.jpg", alt="")

              .dots.dots_m
            #tab-2.tab-content
              | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



    section.contact_area
      .wrapper
        .contact_area_bg
        .contact_area_in
          .contact_left

            .address
              | 17 Shavteli
              br
              |   Str.
              span 0105
              div tbilisi, georgia
            .info
              div
                .span.icon.mail
                span.title in the heart of tbilisi
              div
                .span.icon.mercedes
                span.title free transfer for guests

          .contact_right
            h3.title
              |Take your
              br
              |  Game to
              br
              |  new height
            .phone
              |+995 322 112121
            .email
              a(href="mailto:info@ambasadori.casino") info@ambasadori.casino
            .button
              a(href="#").btn Book Now

    include includes/_footer  
    
    include includes/_foot

dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ambassadori</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="menu">
      <div class="line_1"></div>
      <div class="line_2"></div>
      <div class="line_3"></div>
    </div>
    <div class="menu_area">
      <div class="big_logo"></div>
      <div class="menu_area_in">
        <!--.close Close-->
        <!--.lang ru-->
        <ul>
          <li><a href="/">home</a></li>
          <!--li
          a(href="#")
            | games
          -->
          <li><a href="events.html">events</a></li>
          <!--li
          a(href="#")
            | private rooms
          -->
          <li><a href="about.html">about</a></li>
          <li><a href="#">games</a></li>
          <li><a href="#">lotteries</a></li>
          <li><a href="tours.html">tours</a></li>
          <li><a href="gallery.html">gallery</a></li>
          <li><a href="contacts.html">contact</a></li>
        </ul>
      </div>
    </div>
    <section class="header_area">
      <div class="header_area_mask_bg"></div>
      <div class="header_area_bg"></div>
      <div class="header_area_mask"></div>
      <div class="wrapper">
        <div class="header_area_in">
          <header>
            <div class="header_left">
              <div class="menu_l">
                <div class="line_1"></div>
                <div class="line_2"></div>
                <div class="line_3"></div>
              </div>
              <div class="phone hide">+995 322 112 121</div>
            </div>
            <div class="header_center"><a class="logo" href="#"><img src="img/logo.svg" alt=""></a></div>
            <div class="header_right">
              <div class="lang">ru
                <ul class="lang_menu">
                  <li>en</li>
                  <li>en</li>
                </ul>
              </div><a class="book btn" href="/contacts.html">Contact Us</a>
              <div class="m_phone hide"><span class="icon m_phone"></span></div>
            </div>
          </header>
          <div class="slogan">
            <h1>Premium Casino</h1><span>in the heart of georgia</span>
          </div>
          <div class="header_bottom"><a href="#"><span class="icon event"></span>upcoming LOTTERIES</a>
            <!--a(href="#")
            span.icon.tour
            |virtual tour
            
            -->
          </div>
        </div>
      </div>
    </section>
    <section class="services_area">
      <div class="services_area_in">
        <div class="services_items">
          <div class="services_item">
            <div class="services_item_in">
              <div class="services_img"><img src="img/service_1.jpg" alt=""></div>
              <div class="services_info">
                <div class="service_info_in">
                  <div class="services_title">
                    <h3>High Service</h3><span>for more people</span>
                  </div>
                  <div class="services_title_adj">
                    <div>*</div><span>We prepare<br>any food<br>you chuse</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="services_item">
            <div class="services_item_in">
              <div class="services_img"><img src="img/service_2.jpg" alt=""></div>
              <div class="services_info">
                <div class="service_info_in">
                  <div class="services_title">
                    <h3>High Service 2</h3><span>for more people</span>
                  </div>
                  <div class="services_title_adj">
                    <div>*</div><span>We prepare<br>any food<br>you chuse</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="services_item">
            <div class="services_item_in">
              <div class="services_img"><img src="img/service_3.jpg" alt=""></div>
              <div class="services_info">
                <div class="service_info_in">
                  <div class="services_title">
                    <h3>High Service 3</h3><span>for more people</span>
                  </div>
                  <div class="services_title_adj">
                    <div>*</div><span>We prepare<br>any food<br>you chuse</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="services_item">
            <div class="services_item_in">
              <div class="services_img"><img src="img/service_4.jpg" alt=""></div>
              <div class="services_info">
                <div class="service_info_in">
                  <div class="services_title">
                    <h3>High Service 4</h3><span>for more people</span>
                  </div>
                  <div class="services_title_adj">
                    <div>*</div><span>We prepare<br>any food<br>you chuse</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="services_item">
            <div class="services_item_in">
              <div class="services_img"><img src="img/service_5.jpg" alt=""></div>
              <div class="services_info">
                <div class="service_info_in">
                  <div class="services_title">
                    <h3>High Service 5</h3><span>for more people</span>
                  </div>
                  <div class="services_title_adj">
                    <div>*</div><span>We prepare<br>any food<br>you chuse</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="services_links">
          <div class="wrapper">
            <div class="services_links_line"></div>
            <div class="services_links_list">
              <div class="item">
                <div class="square"></div><span class="tit">We will take<br>tickets to tbilisi</span>
              </div>
              <div class="item">
                <div class="square"></div><span class="tit">Book a hotel<br>room</span>
              </div>
              <div class="item">
                <div class="square"></div><span class="tit">transfer by<br>business class car</span>
              </div>
              <div class="item">
                <div class="square"></div><span class="tit">free meals<br>in the restaurant</span>
              </div>
              <div class="item">
                <div class="square"></div>
                <div class="span tit">enjoy<br>the game</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="events_area">
      <div class="events_area_in">
        <div class="wrapper">
          <div class="slider_miniatures_area">
            <div class="slider_miniatures">
              <div class="item">
                <div class="date">08<span>/ 09</span></div>
                <div class="type">Live Music</div>
                <div class="title">5 Famous<br>Jazz Artists</div>
                <div class="subdate">Wednsday<br>20:00</div>
              </div>
              <div class="item">
                <div class="date">25<span>/ 09</span></div>
                <div class="type">Preparty</div>
                <div class="title">Autumn<br>Party</div>
                <div class="subdate">Wednsday<br>20:00</div>
              </div>
              <div class="item">
                <div class="date">08<span>/ 12</span></div>
                <div class="type">Live Music</div>
                <div class="title">James blunt<br>& qartet</div>
                <div class="subdate">Wednsday<br>20:00</div>
              </div>
              <div class="item">
                <div class="date">08<span>/ 09</span></div>
                <div class="type">Live Music</div>
                <div class="title">5 Famous<br>Jazz Artists</div>
                <div class="subdate">Wednsday<br>20:00</div>
              </div>
              <div class="item">
                <div class="date">08<span>/ 09</span></div>
                <div class="type">Live Music</div>
                <div class="title">5 Famous<br>Jazz Artists</div>
                <div class="subdate">Wednsday<br>20:00</div>
              </div>
              <div class="item">
                <div class="date">08<span>/ 09</span></div>
                <div class="type">Live Music</div>
                <div class="title">5 Famous<br>Jazz Artists</div>
                <div class="subdate">Wednsday<br>20:00</div>
              </div>
            </div>
            <!--a(href="#").btn.events_btn all events-->
          </div>
        </div>
        <div class="events_slider">
          <div class="slide_item" style="background-image: url(img/slide_1.jpg)">
            <div class="events_mask"></div>
            <div class="wrapper">
              <div class="slide_content">
                <div class="date">
                  <div class="sdate">08<span>/ 09</span></div>
                  <div class="subdate">Wednsday<br>20:00</div>
                </div>
                <div class="type">Live Music</div>
                <h3 class="title">Meet 5<br>Jazz Famous<br>Artists</h3>
                <div class="desc">Some text about this woman</div>
              </div>
            </div>
          </div>
          <div class="slide_item" style="background-image: url(img/slide_1.jpg)">
            <div class="events_mask"></div>
            <div class="wrapper">
              <div class="slide_content">
                <div class="date">
                  <div class="sdate">25<span>/ 09</span></div>
                  <div class="subdate">Wednsday<br>20:00</div>
                </div>
                <div class="type">preparty</div>
                <h3 class="title">Autumn Party</h3>
                <div class="desc">Some text about this woman</div>
              </div>
            </div>
          </div>
          <div class="slide_item" style="background-image: url(img/slide_1.jpg)">
            <div class="events_mask"></div>
            <div class="wrapper">
              <div class="slide_content">
                <div class="date">
                  <div class="sdate">08<span>/ 12</span></div>
                  <div class="subdate">Wednsday<br>20:00</div>
                </div>
                <div class="type">Live Music</div>
                <h3 class="title">James blunt<br>& qartet</h3>
                <div class="desc">Some text about this woman</div>
              </div>
            </div>
          </div>
          <div class="slide_item" style="background-image: url(img/slide_1.jpg)">
            <div class="events_mask"></div>
            <div class="wrapper">
              <div class="slide_content">
                <div class="date">
                  <div class="sdate">08<span>/ 09</span></div>
                  <div class="subdate">Wednsday<br>20:00</div>
                </div>
                <div class="type">Live Music</div>
                <h3 class="title">Meet 5<br>Jazz Famous<br>Artists</h3>
                <div class="desc">Some text about this woman</div>
              </div>
            </div>
          </div>
          <div class="slide_item" style="background-image: url(img/slide_1.jpg)">
            <div class="events_mask"></div>
            <div class="wrapper">
              <div class="slide_content">
                <div class="date">
                  <div class="sdate">08<span>/ 09</span></div>
                  <div class="subdate">Wednsday<br>20:00</div>
                </div>
                <div class="type">Live Music</div>
                <h3 class="title">Meet 5<br>Jazz Famous<br>Artists</h3>
                <div class="desc">Some text about this woman</div>
              </div>
            </div>
          </div>
          <div class="slide_item" style="background-image: url(img/slide_1.jpg)">
            <div class="events_mask"></div>
            <div class="wrapper">
              <div class="slide_content">
                <div class="date">
                  <div class="sdate">08<span>/ 09</span></div>
                  <div class="subdate">Wednsday<br>20:00</div>
                </div>
                <div class="type">Live Music</div>
                <h3 class="title">Meet 5<br>Jazz Famous<br>Artists</h3>
                <div class="desc">Some text about this woman</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="news_area">
      <div class="wrapper">
        <div class="news_area_in">
          <div class="news_item news_item_v news_item_1">
            <div class="news_time"><span class="icon wacth"></span>every day at 22:00</div>
            <div class="news_prize">
              <div class="icon dollar"></div>
              <div class="prize_fund">prize fund</div>
              <div class="fund">25.000<br>gel</div>
            </div>
            <h3 class="news_title">Mega Big Win</h3>
            <div class="news_subtitle">Some text about poker here</div>
            <div class="news_button">
              <!--a.btn(href="#") Details-->
            </div>
          </div>
          <div class="news_item news_item_h news_item_2">
            <div class="news_time"><span class="icon wacth"></span>Every Tuesday, Wednesday, Thursday</div>
            <div class="news_prize">
              <div class="icon dollar"></div>
              <div class="prize_fund">prize fund</div>
              <div class="fund">3.750<br>gel</div>
            </div>
            <h3 class="news_title">Best Hand</h3>
            <div class="news_subtitle">Some text about poker here</div>
            <div class="news_button">
              <!--a.btn(href="#") Details-->
            </div>
          </div>
          <div class="news_item news_item_h news_item_3">
            <div class="news_time"><span class="icon wacth"></span>every Saturday at 23:00</div>
            <div class="news_prize">
              <div class="icon dollar"></div>
              <div class="prize_fund">prize fund</div>
              <div class="fund">240.000<br>gel</div>
            </div>
            <h3 class="news_title">Poker Battle</h3>
            <div class="news_subtitle">Some text about poker here</div>
            <div class="news_button">
              <!--a.btn(href="#") Details-->
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="about_area_mobile">
      <div class="wrapper">
        <div class="about_area_in">
          <div class="about_info">
            <div class="item lt">
              <div class="about_num">22</div>
              <div class="about_tit">Gaming Tables</div>
              <div class="square"></div>
              <div class="about_desc">For great games</div>
            </div>
            <div class="item rt">
              <div class="about_num">61</div>
              <div class="about_tit">slot machine</div>
              <div class="square"></div>
              <div class="about_desc">For every taste</div>
            </div>
            <div class="item lb">
              <div class="about_num">3</div>
              <div class="about_tit">private rooms</div>
              <div class="square"></div>
              <div class="about_desc">For high stakes and comfort</div>
            </div>
            <div class="item rb">
              <div class="about_num">5</div>
              <div class="about_tit">different games</div>
              <div class="square"></div>
              <div class="about_desc">From Poker to Bakkar</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="about_area">
      <div class="about_area_mask"></div>
      <div class="wrapper">
        <div class="about_area_in">
          <div class="about_info">
            <div class="item lt">
              <div class="about_num">22</div>
              <div class="about_tit">Gaming Tables</div>
              <div class="square"></div>
              <div class="about_desc">For great games</div>
            </div>
            <div class="item rt">
              <div class="about_num">61</div>
              <div class="about_tit">slot machine</div>
              <div class="square"></div>
              <div class="about_desc">For every taste</div>
            </div>
            <div class="item lb">
              <div class="about_num">3</div>
              <div class="about_tit">private rooms</div>
              <div class="square"></div>
              <div class="about_desc">For high stakes and comfort</div>
            </div>
            <div class="item rb">
              <div class="about_num">5</div>
              <div class="about_tit">different games</div>
              <div class="square"></div>
              <div class="about_desc">From Poker to Bakkar</div>
            </div>
          </div>
          <h2 class="about_title">About<br>Casino</h2>
          <div class="play_vid">play video</div>
          <div class="play_button_area"><a class="play_button" data-fancybox href="https://www.youtube.com/watch?v=K0OogNkzy5g"><span class="icon play"></span></a></div>
        </div>
      </div>
    </section>
    <section class="games_slider_area">
      <div class="wrapper">
        <div class="games_slider_in">
          <div class="games_slider">
            <div class="games_item">
              <div class="item_left">
                <div class="title">Black Jack</div>
                <div class="desc">
                  A traditional card game. The goal of the game
                  is to defeat the dealer by typing 21 points.
                </div>
                <div class="button"><a class="btn" href="#">see more</a></div>
              </div>
              <div class="item_right">
                <div class="table"><img src="img/table.png">
                  <div class="chips"><img src="img/chip.png"></div>
                </div>
              </div>
            </div>
            <div class="games_item">
              <div class="item_left">
                <div class="title">Baccar</div>
                <div class="desc">
                  A traditional card game. The goal of the game
                  is to defeat the dealer by typing 21 points.
                </div>
                <div class="button"><a class="btn" href="#">see more</a></div>
              </div>
              <div class="item_right">
                <div class="table"><img src="img/table.png">
                  <div class="dices"><img src="img/dice.png"></div>
                </div>
              </div>
            </div>
            <div class="games_item">
              <div class="item_left">
                <div class="title">Poker</div>
                <div class="desc">
                  A traditional card game. The goal of the game
                  is to defeat the dealer by typing 21 points.
                </div>
                <div class="button"><a class="btn" href="#">see more</a></div>
              </div>
              <div class="item_right">
                <div class="table"><img src="img/table.png">
                  <div class="cards"><img src="img/cards.png"></div>
                </div>
              </div>
            </div>
            <div class="games_item">
              <div class="item_left">
                <div class="title">Slots</div>
                <div class="desc">
                  A traditional card game. The goal of the game
                  is to defeat the dealer by typing 21 points.
                </div>
                <div class="button"><a class="btn" href="#">see more</a></div>
              </div>
              <div class="item_right">
                <div class="slots"><img src="img/slots.png"></div>
              </div>
            </div>
            <div class="games_item">
              <div class="item_left">
                <div class="title">Roulette</div>
                <div class="desc">
                  A traditional card game. The goal of the game
                  is to defeat the dealer by typing 21 points.
                </div>
                <div class="button"><a class="btn" href="#">see more</a></div>
              </div>
              <div class="item_right">
                <div class="roulette"><img src="img/roulette.png"></div>
              </div>
            </div>
          </div>
          <div class="games_miniatures_area">
            <div class="games_miniatures_title"><span></span><span>Choose<br> your<br> game</span><span></span></div>
            <div class="games_miniatures">
              <div class="item"><span class="icon blackjack"></span>
                <div class="title">Black Jack</div>
              </div>
              <div class="item"><span class="icon bacar"></span>
                <div class="title">Baccar</div>
              </div>
              <div class="item"><span class="icon poker"></span>
                <div class="title">Poker</div>
              </div>
              <div class="item"><span class="icon slots"></span>
                <div class="title">Slots</div>
              </div>
              <div class="item"><span class="icon roulete"></span>
                <div class="title">Roulette</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="gallery_area">
      <div class="wrapper">
        <div class="gallery_area_in">
          <h2>Atmosphere</h2>
          <div class="container">
            <ul class="tabs">
              <li class="tab-link current" data-tab="tab-1">Photogallery</li>
              <!--li.tab-link(data-tab='tab-2') tour 360°-->
            </ul>
            <div class="tab-content current" id="tab-1">
              <div class="gallery gallery_m">
                <div class="item"><img src="img/atm_1.jpg" alt=""></div>
                <div class="item"><img src="img/atm_1.jpg" alt=""></div>
                <div class="item"><img src="img/atm_1.jpg" alt=""></div>
              </div>
              <div class="dots dots_m"></div>
            </div>
            <div class="tab-content" id="tab-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          </div>
        </div>
      </div>
    </section>
    <section class="contact_area">
      <div class="wrapper">
        <div class="contact_area_bg"></div>
        <div class="contact_area_in">
          <div class="contact_left">
            <div class="address">17 Shavteli<br>  Str.<span>0105</span>
              <div>tbilisi, georgia</div>
            </div>
            <div class="info">
              <div>
                <div class="span icon mail"></div><span class="title">in the heart of tbilisi</span>
              </div>
              <div>
                <div class="span icon mercedes"></div><span class="title">free transfer for guests</span>
              </div>
            </div>
          </div>
          <div class="contact_right">
            <h3 class="title">Take your<br> Game to<br> new height</h3>
            <div class="phone">+995 322 112121</div>
            <div class="email"><a href="mailto:info@ambasadori.casino">info@ambasadori.casino</a></div>
            <div class="button"><a class="btn" href="#">Book Now</a></div>
          </div>
        </div>
      </div>
    </section>
    <div class="footer_area">
      <div class="wrapper">
        <footer>
          <div class="footer_left">
            <div class="footer_links">
              <ul>
                <li><a href="/">homepage</a></li>
                <li><a href="#">games</a></li>
                <li><a href="#">events</a></li>
                <li><a href="gallery.html">gallery</a></li>
              </ul>
              <ul>
                <li><a href="#">private rooms</a></li>
                <li><a href="tours.html">gaming tour</a></li>
                <li><a href="about.html">about casino</a></li>
                <li><a href="contacts.html">contact casino</a></li>
              </ul>
            </div>
            <div class="cop">© 2019 Casino Ambasador.  All Rights Reserved.</div>
          </div>
          <div class="footer_center"><span class="icon logo_footer"></span>
            <div class="phone">+995 322 112121</div>
            <div class="address">17 Shavteli str., 0105,<br>Tbilisi, Georgia</div>
          </div>
          <div class="footer_right">
            <div class="subscribe_area">
              <div class="subscribe_title">subscribe</div>
              <div class="subscribe_input">
                <input type="email" placeholder="Your email..."><span class="icon s_mail"></span>
              </div>
            </div>
            <div class="social"><a class="item" href="#"><span class="icon facebook"></span></a><a class="item" href="#"><span class="icon instagram"></span></a><a class="item" href="#"><span class="icon youtube"></span></a></div>
            <div class="footer_bottom">
              <div class="email"><a href="mailto:info@ambasadori.casino">info@ambasadori.casino</a></div><a class="terms" href="#">Terms of use</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/vendor.css">
    
  </body>
</html>
