app/pug/tours.pug
doctype html
html(lang='en')
  head
    include includes/_head

  body
    include includes/_menu


    section.header_area
      .header_area_mask_bg
      .header_area_bg.headers_tours_bg
      .header_area_mask
      .wrapper
        .header_area_in
          include includes/_header
          

          .slogan.tours_slogan
            h1 
              |Unforgettable
              br 
              |Journey
            //- span in the heart of georgia
          .header_bottom
            a(href="#")
              span.icon.coin
              |individual price
            a(href="#")
              span.icon.dice
              |entertaiments
    section.way_area
      .wrapper
        .way_area_in
          .way_title 
            |More 
            br
            |Than Tours
          .way_desc  
              |We are ready to prepare unforgettable journey 
              br
              |to our guests . We offer the best conditions 
              br
              |for entertaining and gaming tour lovers.
          .flight_area
            .flight_title Перелет
            .flight_item
              span Ваш город
              span.icon.arrow_2.reverse
              span Тбилиси        
            .flight_item
              span Тбилиси 
              span.icon.arrow_2
              span Ваш город     
          .wishes_area
            .wishes_title
              |all your wishes 
              br
              |will come true
            .wishes_desc  
              |Just contact our professional team 
            a(href="#").btn Book Now  

          .way_t
            .fishki
            .way.way_1
              span
              .square
              .plane
              .title 
                |машина премиум-класса
                br
                |перевезет с аэропорта 
                br
                |и обратно
            .way.way_2
              span
              .square
              .title
                |поселение 
                br
                |в отель ambassadori
                br
                |или другой на выбор  
            .way.way_3
              span
              .square
              .title
                |участие 
                br
                |в розыгрышах
                  
            .way.way_4
              span
              .square
              .title
                |экскурсии
                br
                |с гидом
            .way.way_5
              span
              .square
            .way.way_6
              span
              .plane
              .square
              .title
                |организация 
                br
                |развлечений  
              
    section.enjoy_moments
      .wrapper
        .enjoy_moments_area
          .enjoy_moments_title
            |Enjoy
            br
            |The Moment
          .enjoy_moments_slogan
            |Best trip to Georgia with high service include:    
              
    section.news_area.features_area
      .wrapper
        .news_area_in
          .news_item.news_item_full.news_item_0
            .hotel_features
              ul
                li 
                  |A spa and
                  br
                  |indoor pool
                li.square  
                li 
                  |luxurious and
                  br
                  |elegant rooms
                li.square   
                li 
                  |Georgian, Italian
                  br
                  |and Asian cuisines
                li.square   
                li 
                  |high quality
                  br
                  |services
                li.square   
                li 
                  |An exclusive
                  br
                  |interiors
            .icon.stars      
            h3.news_title 
              |Hotel
              br
              |Ambassadori  
            .news_subtitle Some text about poker here
            .news_button
              a.btn(href="#") Details
            
          .news_item.news_item_v.news_item_1
            
            h3.news_title Great Events
            .news_subtitle Some text about poker here
            .news_button
              a.btn(href="#") Details

          .news_item.news_item_h.news_item_2
            
            h3.news_title Lotteries
            .news_subtitle Some text about poker here
            .news_button
              a.btn(href="#") Details

          .news_item.news_item_h.news_item_3
            
            h3.news_title Escursions
            .news_subtitle Some text about poker here
            .news_button
              a.btn(href="#") Details          

    section.mountains
      .wrapper
        .mountains_area
          .georgia
            span Welcome to  
            image(src="img/georgia.png", alt="")
            image(src="img/cities.png", alt="", class="cities")
          .get_in_touch
            .get_in_touch_info
              div
                .get_in_touch_title 
                  |This’ ll be 
                  br
                  |a journey
                .get_in_touch_subtitle
                  |You will never forget 
              div.social_items
                .social_item_p
                  .social_title WhatsApp
                  .social_number +995 598 38 38 38
                .social_item_p        
                  .social_title Phone Number
                  .social_number +995 322 11 21 21
            .touch_form
              .touch_title 
                |Get 
                br
                |in Touch
              .touch_form_top
                .touch_form_item
                  label Name
                  input(type="text", placeholder="Your name")
                .touch_form_item
                  label E-mail
                  input(type="email", placeholder="Your email...")
              .touch_textarea
                label Message
                textarea(placeholder="Your message")
              button.btn  Send      
                      
                    
              


    include includes/_footer  
    
    include includes/_foot

build/tours.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ambassadori</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="menu">
      <div class="line_1"></div>
      <div class="line_2"></div>
      <div class="line_3"></div>
    </div>
    <div class="menu_area">
      <div class="big_logo"></div>
      <div class="menu_area_in">
        <!--.close Close-->
        <!--.lang ru-->
        <ul>
          <li><a href="#">home</a></li>
          <li><a href="#">games</a></li>
          <li><a href="#">events</a></li>
          <li><a href="#">private rooms</a></li>
          <li><a href="#">tours</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">gallery</a></li>
          <li><a href="#">contact</a></li>
        </ul>
      </div>
    </div>
    <section class="header_area">
      <div class="header_area_mask_bg"></div>
      <div class="header_area_bg headers_tours_bg"></div>
      <div class="header_area_mask"></div>
      <div class="wrapper">
        <div class="header_area_in">
          <header>
            <div class="header_left">
              <div class="menu_l">
                <div class="line_1"></div>
                <div class="line_2"></div>
                <div class="line_3"></div>
              </div>
              <div class="phone">+995 322 112 121</div>
            </div>
            <div class="header_center"><a class="logo" href="#"><img src="img/logo.svg" alt=""></a></div>
            <div class="header_right">
              <div class="lang">ru</div><a class="book btn" href="#">book now</a>
              <div class="m_phone"><span class="icon m_phone"></span></div>
            </div>
          </header>
          <div class="slogan tours_slogan">
            <h1>
               Unforgettable<br>Journey</h1>
          </div>
          <div class="header_bottom"><a href="#"><span class="icon coin"></span>individual price</a><a href="#"><span class="icon dice"></span>entertaiments</a></div>
        </div>
      </div>
    </section>
    <section class="way_area">
      <div class="wrapper">
        <div class="way_area_in">
          <div class="way_title">
             More <br>Than Tours</div>
          <div class="way_desc">
             We are ready to prepare unforgettable journey <br>to our guests . We offer the best conditions <br>for entertaining and gaming tour lovers.</div>
          <div class="flight_area">
            <div class="flight_title">Перелет</div>
            <div class="flight_item"><span>Ваш город</span><span class="icon arrow_2 reverse"></span><span>Тбилиси        </span></div>
            <div class="flight_item"><span>Тбилиси </span><span class="icon arrow_2"></span><span>Ваш город     </span></div>
          </div>
          <div class="wishes_area">
            <div class="wishes_title">all your wishes <br>will come true</div>
            <div class="wishes_desc">
               Just contact our professional team </div><a class="btn" href="#">Book Now  </a>
          </div>
          <div class="way_t">
            <div class="fishki"></div>
            <div class="way way_1"><span></span>
              <div class="square"></div>
              <div class="plane"></div>
              <div class="title">
                 машина премиум-класса<br>перевезет с аэропорта <br>и обратно</div>
            </div>
            <div class="way way_2"><span></span>
              <div class="square"></div>
              <div class="title">поселение <br>в отель ambassadori<br>или другой на выбор  </div>
            </div>
            <div class="way way_3"><span></span>
              <div class="square"></div>
              <div class="title">участие <br>в розыгрышах</div>
            </div>
            <div class="way way_4"><span></span>
              <div class="square"></div>
              <div class="title">экскурсии<br>с гидом</div>
            </div>
            <div class="way way_5"><span></span>
              <div class="square"></div>
            </div>
            <div class="way way_6"><span></span>
              <div class="plane"></div>
              <div class="title">организация <br>развлечений  </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="enjoy_moments">
      <div class="wrapper">
        <div class="enjoy_moments_area">
          <div class="enjoy_moments_title">Enjoy<br>The Moment</div>
          <div class="enjoy_moments_slogan">Best trip to Georgia with high service include:    </div>
        </div>
      </div>
    </section>
    <section class="news_area features_area">
      <div class="wrapper">
        <div class="news_area_in">
          <div class="news_item news_item_full news_item_0">
            <div class="hotel_features">
              <ul>
                <li>
                   A spa and<br>indoor pool</li>
                <li class="square"> </li>
                <li>
                   luxurious and<br>elegant rooms</li>
                <li class="square">  </li>
                <li>
                   Georgian, Italian<br>and Asian cuisines</li>
                <li class="square">  </li>
                <li>
                   high quality<br>services</li>
                <li class="square">  </li>
                <li>
                   An exclusive<br>interiors</li>
              </ul>
            </div>
            <div class="icon stars">     </div>
            <h3 class="news_title">
               Hotel<br>Ambassadori  </h3>
            <div class="news_subtitle">Some text about poker here</div>
            <div class="news_button"><a class="btn" href="#">Details</a></div>
          </div>
          <div class="news_item news_item_v news_item_1">
            <h3 class="news_title">Great Events</h3>
            <div class="news_subtitle">Some text about poker here</div>
            <div class="news_button"><a class="btn" href="#">Details</a></div>
          </div>
          <div class="news_item news_item_h news_item_2">
            <h3 class="news_title">Lotteries</h3>
            <div class="news_subtitle">Some text about poker here</div>
            <div class="news_button"><a class="btn" href="#">Details</a></div>
          </div>
          <div class="news_item news_item_h news_item_3">
            <h3 class="news_title">Escursions</h3>
            <div class="news_subtitle">Some text about poker here</div>
            <div class="news_button"><a class="btn" href="#">Details          </a></div>
          </div>
        </div>
      </div>
    </section>
    <section class="mountains">
      <div class="wrapper">
        <div class="mountains_area">
          <div class="georgia"><span>Welcome to  </span>
            <image src="img/georgia.png" alt=""></image>
            <image class="cities" src="img/cities.png" alt=""></image>
          </div>
          <div class="get_in_touch">
            <div class="get_in_touch_info">
              <div>
                <div class="get_in_touch_title">
                   This’ ll be <br>a journey</div>
                <div class="get_in_touch_subtitle">You will never forget </div>
              </div>
              <div class="social_items">
                <div class="social_item_p">
                  <div class="social_title">WhatsApp</div>
                  <div class="social_number">+995 322 11 21 21</div>
                </div>
                <div class="social_item_p">       
                  <div class="social_title">Phone Number</div>
                  <div class="social_number">+995 598 38 38 38</div>
                </div>
              </div>
            </div>
            <div class="touch_form">
              <div class="touch_title">
                 Get <br>in Touch</div>
              <div class="touch_form_top">
                <div class="touch_form_item">
                  <label>Name</label>
                  <input type="text" placeholder="Your name">
                </div>
                <div class="touch_form_item">
                  <label>E-mail</label>
                  <input type="email" placeholder="Your email...">
                </div>
              </div>
              <div class="touch_textarea">
                <label>Message</label>
                <textarea placeholder="Your message"></textarea>
              </div>
              <button class="btn"> Send      </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="footer_area">
      <div class="wrapper">
        <footer>
          <div class="footer_left">
            <div class="footer_links">
              <ul>
                <li><a href="#">homepage</a></li>
                <li><a href="#">games</a></li>
                <li><a href="#">events</a></li>
                <li><a href="#">gallery</a></li>
              </ul>
              <ul>
                <li><a href="#">private rooms</a></li>
                <li><a href="#">gaming tour</a></li>
                <li><a href="#">about casino</a></li>
                <li><a href="#">contact casino</a></li>
              </ul>
            </div>
            <div class="cop">© 2017 Casino Ambasador.  All Rights Reserved.</div>
          </div>
          <div class="footer_center"><span class="icon logo_footer"></span>
            <div class="phone">+995 322 112121</div>
            <div class="address">17 Shavteli str., 0105,<br>Tbilisi, Georgia</div>
          </div>
          <div class="footer_right">
            <div class="subscribe_area">
              <div class="subscribe_title">subscribe</div>
              <div class="subscribe_input">
                <input type="email" placeholder="Your email..."><span class="icon s_mail"></span>
              </div>
            </div>
            <div class="social"><a class="item" href="#"><span class="icon facebook"></span></a><a class="item" href="#"><span class="icon instagram"></span></a><a class="item" href="#"><span class="icon youtube"></span></a></div>
            <div class="footer_bottom">
              <div class="email"><a href="mailto:info@ambasadori.casino">info@ambasadori.casino</a></div><a class="terms" href="#">Terms of use</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/vendor.css">
    
  </body>
</html>
